.PID_Controller_referenceModel0,
.PID_Controller_referenceModel1,
.PID_Controller_referenceModel2,
.PID_Controller_referenceModel3,
.PID_Controller_referenceModel4 { background-image: url('PID_Controller_referenceModel_icons.png'); width: 16px; height: 16px; }

.PID_Controller_referenceModel0 { background-position: -0px; }
.PID_Controller_referenceModel1 { background-position: -16px; }
.PID_Controller_referenceModel2 { background-position: -32px; }
.PID_Controller_referenceModel3 { background-position: -48px; }
.PID_Controller_referenceModel4 { background-position: -64px; }
